### Python for data science : Data Exploration and Analysis

- If I give you a problem statement and dataset what do you do with it?
- How do you go through your dataset to do understand what your are working with?

### Introduction to Pandas

Pandas is a powerful Python library that makes data manipulation and analysis simple

In [2]:
import pandas as pd

#### What do we use pandas for?

- Given a dataset you need to be able to read your dataset and analyse it and to do so we use pandas

#### How to read your Dataset?

- Step 1 : Load your dataset

In [5]:
#this is a  csv hence you use read_csv
data = pd.read_csv('accident.csv')

#For other data format you will use

#FOR EXCEL FILES
#data = pd.read_excel("data.xlsx", sheet_name="Sheet1")

#FOR JSON FILES
#data = pd.read_json("data.json")

- Step 2 : Read the  first 5 lines  of your data to get an idea ofwhat you are working on

In [6]:
data.head()

   Age  Gender  Speed_of_Impact Helmet_Used Seatbelt_Used  Survived
0   56  Female             27.0          No            No         1
1   69  Female             46.0          No           Yes         1
2   46    Male             46.0         Yes           Yes         0
3   32    Male            117.0          No           Yes         0
4   60  Female             40.0         Yes           Yes         0

This will give you an idea of the kind of data you are working with and in cases where the problem statement does not give clear details about your attributes,this will be the perfect place to start looking

- Step 3 : Check the size ofyour dataset

In [7]:
data.shape

(200, 6)

When you look at the shape you get to know how many attributes may affect the problem you are trying to solve and how large your sample is

- Step 4: List your columns(optional)

In [8]:
data.columns

Index(['Age', 'Gender', 'Speed_of_Impact', 'Helmet_Used', 'Seatbelt_Used',
       'Survived'],
      dtype='object')

This shows you the attributes in your dataset

- Step 5 : Get information about data types and missing values

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Age              200 non-null    int64
 1   Gender           199 non-null    object
 2   Speed_of_Impact  197 non-null    float64
 3   Helmet_Used      200 non-null    object
 4   Seatbelt_Used    200 non-null    object
 5   Survived         200 non-null    int64
dtypes: float64(1), int64(2), object(3)
memory usage: 9.5+ KB

At this stage you want to know the kind of attributes you are working with and to see if there are any missing values in each attribute

- Step 5 : Summary statistics for numerical columns

In [10]:
data.describe()

             Age  Speed_of_Impact   Survived
count  200.00000       197.000000  200.00000
mean    43.42500        70.441624    0.50500
std     14.94191        30.125298    0.50123
min     18.00000        20.000000    0.00000
25%     31.00000        43.000000    0.00000
50%     43.50000        71.000000    1.00000
75%     56.00000        95.000000    1.00000
max     69.00000       119.000000    1.00000

This gives the description of your numeric values.You only do this if you see that your data has some numeric datatypes

### How to explore and analyse your data with  pandas

After loading the data, guide your audience through the process of exploring it to understand its structure and quality.

- Step 1 : Identifying Data Types and Missing Values

In [11]:
data.isnull().sum()

Age                0
Gender             1
Speed_of_Impact    3
Helmet_Used        0
Seatbelt_Used      0
Survived           0
dtype: int64

1. We use **isnull** to check there are any attributes with mnissing data
2. We then use sum to calculate how many entries are missing in that specific column

- Step 2 : Cleaning and Preprocessing

In [13]:
data= data.drop_duplicates()

Sometimes in your data you get repeated entries and in such cases you want to remove the duplicates

- Step 4: Handle missing data

In [14]:
data_cleaned =data.dropna()

Depending on your analysis and you can clean handle missing values either replacing them,or removing them

if you want to replace them you might use the following :

**data.fillna(0)**